/*
Joseph P. Pasaoa
Front-End Style | Express Web Server Project
*/


/* CSS RESET
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* FONT INITS */
@font-face {
  font-family: 'Special Elite';
  src: url('./fonts/Special_Elite/SpecialElite-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald/Oswald-VariableFont-wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Anonymous Pro';
  src: url('./fonts/Anonymous_Pro/AnonymousPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* MAIN STYLE */
html, body, div#grid-base {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", monospace;
  font-size: 1em;
}

div#grid-base {
  display: grid;
  grid-template-columns: 220px 488px auto;
  grid-template-rows: 1fr;
}

div#leftPrimeCol {
  display: flex;
  flex-direction: column;
  
  padding-top: 50px;

  background-color: #146d14;
}

div#nav {
  cursor: pointer;
}

div.nav-button {
  background-color: olivedrab;
  border: solid 2px #111;
  margin: 0px;
  padding: 17px 16px 12px 16px;

  font-family: "Special Elite", serif;
  font-size: 0.9em;
  text-transform: uppercase;
}

div#midActionCol {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: #ade6b4;
}

div#rightResultsCol {
  padding-top: 107px;
  overflow: auto;
  width: auto;
  height: auto;

  color: #10c2de;

  background-color: #0d150b;
}

h1 {
  order: 2;

  padding: 280px 16px 16px 16px;
  
  font-family: "Special Elite", serif;
  font-size: 2.6em;
  line-height: 1.2em;
}

div.form-package {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  opacity: 0;
  transition: opacity 0.25s;
}

h2 {
  margin: 57px 16px 26px 16px;

  font-family: "Oswald", sans-serif;
  font-size: 1.9em;
  text-transform: uppercase;
}

h3 {
  margin-top: 33px;
  margin-bottom: 16px;
  
  font-size: 1.1em;
  text-transform: uppercase;
}

p {
  margin: 6px 146px 20px 16px;

  line-height: 1.3em;
}

label {
  display: inline-block;
  margin-right: 3px;
  width: 95px;

  font-size: 0.8em;
}

input[type="text"] {
  width: 300px;
  height: 20px;
  margin-right: 24px;
  margin-bottom: 3px;
}

button {
  margin: 30px 12px 3px 53px;
  padding-top: 4px;
  height: 25px;
  width: 77px;
  border-radius: 7px;

  font-family: "Special Elite", serif;
  font-size: 0.8em;
  text-transform: lowercase;
}

div#responseGroup p {
  margin-bottom: 3px;
}

div#response {
  padding: 9px 16px;
  margin: 3px 0px;

  font-family: "Anonymous Pro", monospace;
  font-weight: normal;
  font-size: 0.8em;
  line-height: 1.1em;
  white-space: pre-wrap;

  background-color: #0d150b;
}

h2, h3, p, form {
  margin-left: 16px;
}

