body {
    display: flex;
    flex-wrap: wrap;
    font-family: monospace;
    
    background-image:url("https://cdn.shopify.com/s/files/1/0250/1217/4900/products/31c654a56c02c36789f6abb8eb4cbf81_620x.jpg?v=1572376632");
    background-size: 300px;
    
}
#addClassDiv{
    
    background-color:#8C1B04;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
    
    
}
#addClassForm{
    background-color:#8C1B04;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    
    align-items: center;

    padding: 10px;
    
}
h1{
    padding-left: 70px;
    color:#8C1B04;
   
}

#addStudent{
    display: flex;
    background-color:#8C1B04;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
    
}
#addStudentForm{
    background-color:#8C1B04;
    width: 200px;
    height: 200px;
    direction: ltr;
    border-radius: 50px;
    align-content: flex-end;
    padding: 10px;
    
}
h1{
    color:#FFFFFF;
   
}


#listStudent{
    display: flex;
    background-color:#8C1B04;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
    
}
#listStudentForm{
    background-color:#8C1B04;
    width: 200px;
    height: 200px;
    direction: ltr;
    border-radius: 50px;
    align-content: flex-end;
    
}
h1{
    color:#FFFFFF;
   
}

