body {
    /* display: flex;    */
    height: 100vh;
    width: 100%;
    
}

#image {
    display: flex;
    background: red;
    justify-content: flex-end;
    
    
}

img {
    
    width: 60%;
    margin-right: 50%;
    height: 100vh;
}

#container {
    display: flex;
    height:100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    background: palevioletred;
    
}