body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#formContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.display {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#searchForm {
    display: flex;
    gap: 30px;
}

#results {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.classCard, .student{
    font-size: 20px;
    color: blueviolet   ;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    border-radius: 10%;
    padding: 20px;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(.6, .7, .8, .8);
}

.student {
    border: 1px solid brown;
}
.error{
    border-color: 2px solid burlywood;
    background-color: red;
    border: 3px solid burlywood;
    border-radius: 10%;
    padding: 20px;
}