body{
background-color:black;
}

div#toppest{
 
  background-color:black; 
  /* border-color: orange; */
  border-style: solid;
 color:maroon;
 text-indent: 13px;
 font-size: 14px;
 /* height: px; */
}

span#donate{
    float: right;
    color:orange;
    
}
ul#blacktop{
    list-style: none;
    display: inline;
}


#divone{
border-style: solid;
border-color:maroon;
height: 57px;
z-index: 8;
background-color: white;

}


#divtwo{
    margin-top: 0%;
    border-style: solid;
    border-color:white;
    height:300px;
display:flex;
justify-content: space-evenly;
}

div#divthree{
    border-style: solid;
    border-color:orange;
    width: 1177px;
}
#mainContainer{
    border-style: solid;
    border-color: pink;
    background-color: white;
    background-position: top;


}

#rowa{
    text-align: center;
    z-index:2;
    border-style: solid;
    border-color:white ;
    width:20%;
}

#rowb{
    text-align: center;
    z-index:3;
    border-style: solid;
    border-color:white;
    width:20%;
}
#rowc{
    text-align: center;
    text-decoration-color: mediumspringgreen;
    z-index:5;
    border-style: solid;
    border-color:white;
    width:50%;
}
#rowd{
    text-align: center;
    border-style: solid;
    border-color:white;
    width:20%;
}
#rowe{
    border-style: solid;
    border-color:white;
    width:20%;
    text-align: center;
}
.buttonChoice{
color:red;
}

input#subbut{
cursor: pointer;
width: 120px;
border-style: outset;
font-size: 18px;
height: 30px;
}

label{
font-size: 23px;
}
input#password{
font-size: 21px;
}

h1#sd{
    display:none
}

form#enterAll{

   margin-top: 7%; 
}
ul#uli{
    list-style: none;
}

div#drop{

    background-color:maroon;
    text-align: center;
    justify-content: center;
}

div#dropone{

    background-color:maroon;
}

div#droptwo{

    background-color:maroon;
}


div#dropthree{

    background-color:maroon;
}

div#dropfour{

    background-color:maroon;
}

div#rowb{
    background-image: url("./allcats/catsix.png");
background-repeat: no-repeat;
background-size: cover;
    }
div#rowa{
    background-image: url("./allcats/cattwo.png");
background-repeat: no-repeat;
background-size: cover;
    }
    div#rowd{
        background-image: url("./allcats/catthree.png");
    background-repeat: no-repeat;
    background-size: cover;
        }
        div#rowe{
            background-image: url("./allcats/catfour.png");
        background-repeat: no-repeat;
        background-size: cover;
            }

div#drop,div#dropone,div#droptwo,div#dropthree,div#dropfour{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: bolder;
                color: white;
            }
div#rowc{
    background-image: url("caphat.png");
    background-size: contain;
    background-repeat: no-repeat;

}

            span.headerspan{
                cursor: pointer;
                box-sizing: border-box;
                /* border-color: black; */
                /* border-style: solid; */
                padding: 4px;
            }
           
span.headerspan:hover{
    background-color:maroon;
}
ul#adlist{
list-style: none;
text-align: center;
justify-content: center;
margin-right: 33px;
}

ul#evlist{
    list-style: none;
    text-align: center;
    justify-content: center;
    margin-right: 33px;
    }


ul#calist{
        list-style: none;
        text-align: center;
        justify-content: center;
        margin-right: 33px;
        }

ul#melist{
        list-style: none;
        text-align: center;
        justify-content: center;
        margin-right: 33px;
        }
h1#pursuittitle{

    color: maroon;
}

div#divone{
 /* background-color: maroon; */
 padding-bottom: 12px;
 padding-top: 4px;
 border-style: solid;
 border-width: 13px;
}
h1#pursuittitle{
    text-align: center;
 
    /* background-origin: padding-box; */
    /* background-color: mintcream; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 3px;
}
span#connect{
color: white;
}
h2#jarg{
font-size: 17px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-style: italic;
font-weight: lighter;
color: white;
text-align: center;
}
div#footsie{
display: flex;
justify-content: space-between;
list-style: none;
text-align: center;
}

ul#displayinfo{
font-family: monospace;
text-decoration: yellowgreen;
font-weight: normal;
color: yellowgreen;
list-style: none;
font-size: 40px;
}

li#name{
font-family: monospace;
text-decoration: yellowgreen;
font-weight: normal;
color: yellowgreen;
list-style: none;
font-size: 40px;
}
li#enrollment{
    font-family: monospace;
    text-decoration: yellowgreen;
    font-weight: normal;
    color: yellowgreen;
    list-style: none;
    font-size: 40px;
}
li#age{
    font-family: monospace;
    text-decoration: yellowgreen;
    font-weight: normal;
    color: yellowgreen;
    list-style: none;
    font-size: 40px;
}
li#gpa{
    font-family: monospace;
    text-decoration: yellowgreen;
    font-weight: normal;
    color: yellowgreen;
    list-style: none;
    font-size: 40px;
}
li#city{
    font-family: monospace;
    text-decoration: yellowgreen;
    font-weight: normal;
    color: yellowgreen;
    list-style: none;
    font-size: 40px;
}
li#dob{
    font-family: monospace;
    text-decoration: yellowgreen;
    font-weight: normal;
    color: yellowgreen;
    list-style: none;
    font-size: 40px; 
}
li#fail{
    font-family: monospace;
    text-decoration: yellowgreen;
    font-weight: normal;
    color: yellowgreen;
    list-style: none;
    font-size: 40px; 
}

div#mainContainerTwo{
    display: flexbox;
}

li#subject{
    font-family: monospace;
    text-decoration: yellowgreen;
    font-weight: normal;
    color: yellowgreen;
    list-style: none;
    font-size: 40px; 
}