body {
    background-image: url("https://i.pinimg.com/736x/71/50/4b/71504b3279467ae714a9b5e012f68052.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    color: indigo;
}

.form {
    display: flex;
    flex-direction: column;
}