#showFailing {
  width: 30px;
}
/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.display {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 15%;
  gap: 90px;
}

@media only screen and (max-width: 800px) {
  .results {
    height: 260px;
    width: 90vw;
    top: 60%;
    position: absolute;
  }
}
