#showFailing {
  width: 30px;
}
/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#results {
  position: absolute;
  overflow: scroll;
  height: 623px;
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding-top: 40px;
  background-color: white;
  right: 4%;
  top: 10%;
  border: 1px solid black;
}

.display {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 15%;
  gap: 90px;
}

@media only screen and (max-width: 800px) {
  #results {
    height: 260px;
    width: 90vw;
    top: 60%;
    position: absolute;
  }
}
