#showFailing {
  width: 30px;
}
/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.display {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 15%;
  gap: 90px;
}
