#enrollmentContainer {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 600px;
  margin-left: 50px;
}

.results {
  display: flex;
  flex-direction: column;
  margin-top: 115px;
  margin-left: 50px;
  height: 40vh;
  width: 40vw;
  text-align: center;
  border-radius: 20px;
  justify-content: center;
}
/* #enrollForm{
  margin-right: 60px;
} */

#enrollResults {
  top: -50px;
}
